
body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* background: #56CCF2; 
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2);  */
    
    /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
    /* background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%); */
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    
    background-repeat: no-repeat;
}
.content { margin-top: 40px; }
h1 {
    color: white;
    text-align: center;
    font-size: 34px;
}
form { background-color: #fff; padding: 50px; }
.list {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff; 
    background: #f2f6f5;
}
.list li:last-child{ margin:0; }